extends layout

block content
    h1= "Voucher Dashboard"
    // Wrapper
    #wrapper

        // Voucher INFO
        #voucherInfo
            h2 voucher Info
            p
                strong Name:
                |  <span id='voucherInfoName'></span>
            #editVoucher
                fieldset2
                    input#inputName(type='text', placeholder='editname')
                    br
                    button#btnEditVoucher Edit Voucher
        // Voucher INFO
        // Voucher LIST
        h2 Voucher List
        #voucherList
            table
                thead
                    th Name
                    th Last Update
                tbody
        // Voucher LIST
        // ADD Voucher
        h2 Add Voucher
        #addVoucher
            fieldset
                input#inputVoucherName(type='text', placeholder='Name')
                button#btnAddVoucher Add Voucher
        // /ADD Voucher
    // /WRAPPER
